/* body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resume-container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.resume-header-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/* header */
.resume-header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* container */
.resume-profile {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: chartreuse;
}
.resume-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    font-size: 36px;
}
.resume-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgoldenrod;
}
.resume-aboutme-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: darkgreen;
}
.resume-aboutme-history {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background-color: darkgrey;
}
.resume-aboutme-mypic {
    padding: 0 25px 0 15px;
}
.resume-aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resume-education {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.resume-experience {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.resume-experience-box {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* skill */
.resume-skill {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.resume-skill-container {
    display: flex;
    /* flex-direction: column; */
}
.resume-skill-container {
    display: flex;
    flex-direction: column;
}

/* bio */
.resume-bio {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding: 40px;
}